:host {}

.nox-tree-drop-down {}

.nox-tree-drop-down-button {
    min-width: 200px !important;
}

.dropdown-menu {
    max-height: 300px;
    min-width: 200px;
    width: auto;
    overflow-y: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nox-tree-drop-down-menu {
    width: 100%;
}